* {
  font-family: 'Montserrat', sans-serif;}

body {
  background-color: #f6f6f6;
  opacity: 1;
  background-image: radial-gradient(#145c9e 0.75px, transparent 0.75px), radial-gradient(#145c9e 0.75px, #f6f6f6 0.75px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px; }

.container-fluid {
  padding: 0; }

.row {
  margin: 0;
  padding: 0; }

/*============================================
=            HEADER comment block            =
============================================*/
.nav-link {
  text-decoration: none;
  color: #121113;
  padding: 30px 10px;
  font-size: 2em;
  text-shadow: 1px 1px #145c9e;
  font-weight: bolder; 
&:hover {
  color: #145c9e;
  text-shadow: 1px 1px #121113; 
&:active {
  color: #121113;
  text-shadow: 1px 1px #145c9e; }}}

.nav-item {
  padding: 0 30px; 

&:hover {
  color: #145c9e;
  text-shadow: 1px 1px #121113;
  transform: translateY(-10px);
  transition: transform .5s; }}

.logo {
  margin-left: 20px; }

.navbar {
  padding: 0;}

#navbarNav {
  justify-content: space-evenly; }

.navbar-nav:hover > a {
  color: #145c9e; }

.navbar-bg {
  background: #ffffff; }

.fas {
  padding: 0 10px;
  /* iconos  */ }

hr {
  background: linear-gradient(90deg, #121113, #145c9e, #121113);
  height: 7px;
  padding: 0;
<<<<<<< HEAD
  margin: 0;
  width: 100%; }
=======
  margin: 0;}
>>>>>>> grid

/*=====  End of HEADER comment block  ======*/
/* ----------------------------------------- */
/*==========================================
=        MAIN INDEX comment block            =
==========================================*/
.img-fluid {
  padding: 0;
  max-width: 100%; }

h1, h2 {
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px #145c9e;
  font-weight: bolder; 
  margin: auto;
  margin-top: .1em;}

.contFormIndex{
  background-color: #f6f6f6;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
}
.form-inline{
  display: flex;
  justify-content: center;
& input:hover{
  padding: 5px;
  box-shadow: 5px 5px 10px #121113;
  font-size: 1.2em;
  font-weight: bolder;
  transition: all .5s; }
& select:hover{
  @extend input:hover; }
& .btn-primary:hover{
  @extend input:hover; }}

.cajaParrafo {
  font-weight: light;
  text-align: left;
  max-width: 75%;
  height: auto;
  padding: 5px;
  margin: auto;
  margin-bottom: 40px;
  background: #f6f6f6; }  

  /* Lo saque afuera del .cajaParrafo porque no me agarraba el estilo */
  p {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5; }

.fa-arrow-circle-up{
  margin: 0 10px 10px;
  padding: 0;
  border: 1px solid #121113;
  border-radius: 40px;
  font-size: 5em;}

/*=====  End of MAIN comment block  ======*/
/* ----------------------------------------- */
/*============================================
=            FOOTER comment block            =
============================================*/
footer {
  background: #121113; 
  display: flex;
  justify-content: center;
  align-items: center; }

.contCopyright {
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-copyright {
  color: #f6f6f6;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  padding-left: 5px520; }

.texto {
  color: #f6f6f6;
  font-size: 1em;
  align-content: center;
  margin: 0; 
  padding: 0;}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
& a i{
  padding: 0 10px;
&:hover{
  transform: translateY(-3px);
  transition: all .5s;
  color: #f6f6f6; }}}

.logoFooter{
  width: 10em;
  height: auto;
  padding: 1em 0;}

/*=====  End of FOOTER comment block  ======*/
/* ----------------------------------------- */
/*============================================
=       NUESTROS PRODUCTOS comment block     =
============================================*/
.cajaProd {
  margin-right: 100px; 
  padding-left: 0;
  padding-right: 0;
.fotoProd {
  border: #145c9e 5px outset;
  width: 100%;
  height: auto;}
&:hover {
  box-shadow: 5px 5px 10px #121113;
  transition: all .5s;}}
.seccion1 {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.listas {
  list-style-position: inside;
  list-style: none;
  background: #f6f6f6;
  font-weight: bolder;
& li::before{
  content: " ";
  background: url("../assets/cheque3.png") no-repeat center;
  padding: 1.5em;
  line-height: 2.5;}
& li:hover {
  transform: scale(1.10, 1.10);
  transition: all .5s;}}

.contTextos{
  margin-left: 3em; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4{
  text-align: center;
  background: #f6f6f6;
  margin-bottom: 15px;
  &:hover{
  text-shadow: 1px 1px #145c9e;
  transform: scale(1.10, 1.10);
  transition: all .5s;
  }}
  .aside {
  text-align: left;
  background: #f6f6f6;
  padding: 0 5px;
  font-size: 1em;}}

.lineaNp {
  height: 18px;
  background-image: linear-gradient(90deg, transparent, #145c9e, transparent);
  border: 0;
  height: 5px;}
.lineaNpLista {
  @extend .lineaNp;
  height: 20px;
  height: 2px;}

/*=====  End of NUESTROS PRODUCTOS comment block  ======*/
/* ----------------------------------------- */
/*============================================
=            NOSOTROS comment block            =
============================================*/
.contTitulo {
  display: flex;
  justify-content: center; }
.pNosotros {/* Lo saque de la caja porque no me tomaba el estilo que le puse */
  text-align: justify;
  width: 100%;
  font-size: 1.3em;
  background: #f6f6f6; 
  margin-top: 30px;
  margin-bottom: 30px;}

.fotoNosotros {
  border: #145c9e 5px outset;
  padding: 0;
  margin: auto;
  margin-bottom: 10px; 
&:hover {
  transform: scale(1.005, 1.005);
  box-shadow: 5px 5px 10px #121113;
  transition: all .5s; }}

.textoNosotros {
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
  background: #f6f6f6; }

.linea {
  height: 10px;
  background-image: linear-gradient(90deg, transparent, #145c9e, transparent);
  border: 0;
  height: 4px;
  position: relative;
  bottom: 10px; }

/*=====  End of NOSOTROS comment block  ======*/
/* ----------------------------------------- */
/*===============================================
=            UBICACION comment block            =
===============================================*/
/* Header */
header{
  width: 100%;
  background: #ffffff;}
.gridHeader{
  display: grid;
  grid-template-columns: repeat(8,1fr); 
  align-items: center;}
.cajaLogo{
  display: flex;
  justify-content: center;
  grid-column: 1/2;
.logo{
  margin: 13px;}}
.cajaUl{
  grid-column: 2/8;
.ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;}}
.ul li:hover{
  transform: translateY(-10px);
  transition: transform .5s;}
.ul li a{
  text-decoration: none;
  color: #121113;
  font-size: 2em;
  text-shadow: 1px 1px #145c9e;
  font-weight: bolder;
&:hover {
  color: #145c9e;
  text-shadow: 1px 1px #121113;
&:active {
  color: #121113;
  text-shadow: 1px 1px #145c9e;}}}

/* Main */
.gridUbicacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "h2 h2" 
                       "iframe info";
  grid-gap: .6em;
 .cajaIframe{
  grid-area: iframe;
  display: flex;
  justify-content: end;
.iframe {
  border: #145c9e 5px outset;
  padding: 0; 
  width: 80%;
  height: auto;
&:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 5px 5px 10px #121113;
  transition: all .5s; }}}

.gridH2{
  grid-area: h2;}
.infoad{
  grid-area: info;
  max-width: 100%;
& h4{
  font-size: 2em;}}}

.listaUbicacion{
  display: flex;
  align-items: center;
  flex-direction: column;
& p{
  margin: 10px 0;
  background: #f6f6f6;}}

.lineaNpListaUbicacion{
  height: 20px;
  background-image: linear-gradient(90deg, #145c9e, transparent);
  border: 0;
<<<<<<< HEAD
  height: 2px;}
.infoad h4{
  font-size: 2em;}
=======
  height: 2px;
  min-width: 100%;}

.fa-arrow-circle-up, .fa-instagram, .fa-facebook-square{
  color: #145c9e;}
/* Footer */
.gridFooter{
  display: grid;
  grid-template-columns: 50% 25% auto;}
.contCopyright{
  grid-column: 1/2;}
.redes{
  grid-column: 2/3;}
.cajaLogoFooter{
  grid-column: 3/4;}
>>>>>>> grid

/*=====  End of UBICACION comment block  ======*/
/* ----------------------------------------- */
/*===============================================
=            CONTACTANOS comment block          =
===============================================*/
#contForm {
  margin: auto; 
.flexForm {
  display: flex;
  justify-content: center;
  background: url(https://cdn.pixabay.com/photo/2017/11/13/11/45/checklist-2945401_960_720.jpg) center;
  color: #f6f6f6;
  text-shadow: 1px 1px #121113;
  font-size: 1.5em;
  border: #145c9e 5px outset;
  border-radius: 10px;
  margin-bottom: 1em; 
&:hover {
  box-shadow: 5px 5px 10px #121113;
  border: #121113 5px outset;
  transition: all .5s; }}
.form {
  text-align: center; }
.form-control {
  margin: 5px 0px;
  background: #f6f6f6;
  border: #121113 #f6f6f6 4px inset;
  border-radius: 10px; 
&:focus {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #121113;
  transition: all .5s; }}
.boton {
  margin: 10px; 
&:active {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #121113;
  transition: all .5s; }}
.flexForm label {
  background: rgba(18, 17, 19, 0.5);
  border-radius: 5px;
  margin: 3px 0;
  padding: 0 5px;
&:hover {
  background: rgba(246, 246, 246, 0.5);
  color: #121113;
  transition: all .5s;
  text-shadow: 1px 1px #145c9e; }}
.boton:hover {
  background: #f6f6f6;
  color: #007BFF; }}

<<<<<<< HEAD
/*=====  End of CONTACTANOS comment block  ======*/
=======
/*======  End of CONTACTANOS comment block  ======*/
>>>>>>> grid

/*===============================================
=            Media Query comment block          =
===============================================*/

/*  HEADER  */

@media (max-width: 768px) {
  .nav-link {
    font-size: 1.5em;
    padding: 5px;
    margin: 0; }}

/*  MAIN  INDEX  */

@media (max-width: 768px) {
  h1 {
    font-size: 3em; 
    text-shadow: 3px 3px  #145c9e;}
  h2 {
    font-size: 2em; 
    margin-top: .5em;
    text-shadow: 2px 2px  #145c9e;} 
  .cajaParrafo p {
    font-size: .8em; 
    margin: 0;
    padding: 0 5px;}
  .fa-arrow-circle-up{
    font-size: 3em;}}

/*  FOOTER  */

@media (max-width: 768px) {
  .texto {
    font-size: .7em;
    display: flex;
    justify-content: center;
    margin: auto; 
    padding-top: 5px;} 
  .redes a i{
    padding-top: 5px;}
  .cajaLogoFooter{
    display: flex;
    justify-content: center;}}

/*  MAIN NUESTROS PRODUCTOS  */

@media (max-width: 768px) {
  .cajaProd {
    display: flex;
    justify-content: center;
    margin-right:0; } 
  .listas{
    font-size: .6em;
    margin-bottom: 0;
  & li::before{
  background: url("../assets/cheque2.png") no-repeat center;}}
  .contTextos{
    margin: 0;
    padding: 0;
  h4{
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 20px;
  h4 small {
    font-size: 60%; }}
  .aside{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 2px;
    font-size: .6em;
  }}}

<<<<<<< HEAD
=======

>>>>>>> grid
/*  MAIN NOSOTROS  */

@media (max-width: 768px) {
  .textoNosotros {
    font-size: .6em; }
  .pNosotros {
    font-size: .7em; } }

<<<<<<< HEAD
/*  MAIN UBICACIÓN */

@media (max-width: 768px) {
.infoad{
=======
/*  GRID UBICACIÓN */

@media only screen and (min-width: 0px) and (max-width: 768px){
/* Header */
.gridHeader{
  display: grid;
  grid-template-columns: 20% auto;
.logo{
  grid-column: 1/2;
  width: auto; 
  height: auto;}
.cajaUl{
  grid-column: 2/3;
.ul{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px 0;}}
.ul li a{
  font-size: 1.2em;}}

/* Main */
.gridUbicacion{
  grid-template-rows: 10% repeat(2,1fr);
  grid-template-columns: 1fr;
  grid-gap: 0;
.cajaIframe{
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
.iframe {
  border: #145c9e 5px outset;
  padding: 0; 
  width: 80%;
  height: auto;}}
.infoad{
  margin: 1em 0;
  grid-column: 1/3;
  grid-row: 3/4;  
>>>>>>> grid
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
<<<<<<< HEAD
  margin: 10px 0;
& h4{
  font-size: 1.6em;
=======
& h4{
  font-size: 1.7em;
>>>>>>> grid
  text-align: center;
  margin-top: 10px;}
& .listaUbicacion{
  font-size: .6em;}}}

<<<<<<< HEAD
=======
/* Footer */
.gridFooter{
  display: grid;
  grid-template-rows: repeat(3,33,3%);
  width: 100%;
  height: 100%;}
.contCopyright{
  grid-row: 1/2;
  grid-column: 1/4;
& .texto{
  font-size: .72em;
}}
.redes{
  grid-row: 2/3;
  grid-column: 1/4;
}
.cajaLogoFooter{
  grid-row: 3/4;
  grid-column: 1/4;
  display: flex;
  justify-content: center;
& .logoFooter{
  padding: 1em 0;}}}

>>>>>>> grid
/*  MAIN CONTACTANOS  */

@media (max-width: 768px) {
  #contForm{
    padding: 0;}
  #contForm .flexForm{
    margin: 1em 0;
    font-size: 1em;}
  .form-group{
    margin-top: .5em;}}

<<<<<<< HEAD
/*=====  End of Media Query comment block  ======*/
=======
/*======  End of Media Query comment block  ======*/
>>>>>>> grid
